# Java
*.class

# C and Cpp
*.o
a.out

# ANTLR4
*.tokens
*.interp

# build directory
build

# LLVM
*.bc
*.ll

# CLion
.idea/
cmake-build-debug

# Vim
*.swp

# Lcov
gen/

html/
latex/
xml/
*.info

# reports
coverage.out/

# setup artifacts
corretto.key*
kitware-archive.sh*
llvm.sh*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
